---
layout: blog
title: Art Gallery
---

<center><h1>{{ page.title }}</h1></center>

<center>
<p>
This is a collection of works I have made using the Open Source program <a
    href="https://blender.org"> Blender </a>
</p>
</center>

<ul class="posts">
    <hr>
    {% for file in site.static_files %}
    {% if file.path contains "/gallery" %}
    {% if file.extname == ".png" %}
    <li>
        <center>
            <h5>
                <b>
                    {{ file.path | replace: "/gallery/", "" | replace: ".png", "" }}
                </b>
            </h5>
            <br>
            <img src="{{ file.path }}" height="540" width="960"></img>
            <br>
            <br>
            <br>
            <hr>
            <br>
        </center>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

<script>
var resizeImages = function resizeImages() {
    $("img").height($(window).width() * .36);
    $("img").width($(window).width() * .64);
};

$( document ).ready(function() {
    resizeImages();
});

window.addEventListender('resize', resizeImages);
</script>

